In [1]:
import pandas as pd

In [4]:
berkeley = pd.read_csv("berkeley.csv")
berkeley.head()

   Year  Major Gender Admission
0  1973      C      F  Rejected
1  1973      B      M  Accepted
2  1973  Other      F  Accepted
3  1973  Other      M  Accepted
4  1973  Other      M  Rejected